@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WRLDC Pending Action Monitoring System</h1>
    <br />
    <h3><a asp-page="/Pams/Index">View Pam</a></h3>
    <br />
    <h3><a asp-page="/Pams/Create">Create Pam</a></h3>
</div>
